*{
    margin: 0;
    padding: 0;
    color: white;
}
/* Header CSS */
body{
    background-image: url(BgImag.jpg);
    background-size: cover;
}
.navdf ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding:0 3rem;
    transition: all ease 1s;
}
.navdf ul li a{
    text-decoration: none;  
    display: flex;
    padding:0.8rem ;
    opacity: 0.8;
    font-size: 1rem;
}

.navdf ul li a:hover{
    opacity: 1.5;
    color: rgb(0, 217, 255);
    text-decoration: none;
    font-weight:690;
    scale:1.1;
}

/* Main content CSS*/

span p{
    font-size: 3.5rem;
    margin: 7rem 0 0 9rem;
}
span p b{
    color: rgb(20, 194, 247);
}
span img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -20rem 0 0 67rem;
    border-radius: 50%;
    box-shadow: 5px 2px 2px 2px rgb(190, 234, 235);
    transition: all ease 1s;
}
span img:hover{
    border-color: rgb(214, 42, 42);
    box-shadow: 5px 2px 2px 2px rgb(20, 194, 247);
    transition: 1s;
    scale:1.1;
}
footer{
    padding: 4rem 0rem 0rem 13rem;
    font-size: 1.2rem;
}
footer i{
    margin: 0.2rem;
}
i:hover{
    font-size: 1.4rem;
    color: rgb(0, 217, 255);
}
